<% provide(:title, 'Home') %>

    <div class="center">
      <%= link_to "Sign in", '#' %>
      <div class="line"></div>
      <%= link_to "Sign up", '#' %>
    </div>

    <div class="center hero-unit">
      <h1>SAMPLE TODO LIST</h1>
      <h3>Ruby Garage</h3>
    </div>